{% extends 'base.html' %}
{% block title %} Inscritos de evento {{ evento.nombre }} {% endblock %}
{% block content %}
<h1>Inscritos de evento "{{ evento.nombre }}"</h1>
<h3>Número preinscritos: {{ num_inscritos }}</h3>
{% for paquete in evento.st_paquetes|sort(attribute='nombre') %}
    <h2>Paquete {{ paquete.nombre }}</h2>
    <h4>Número inscritos: {{ paquete.st_inscritos.count() }}</h4>
    <table class="striped">
    <thead>
        <tr>
            <th>Nombre de inscrito</th>
            <th>Documento de identidad</th>
            <th>Teléfono</th>
            <th>Correo electrónico</th>
        </tr>
    </thead>
    <tbody>
    {% for inscrito in paquete.st_inscritos|sort(attribute='nombre') %}
    <tr>
        <td>{{ inscrito.nombre }}</td>
        <td>{{ inscrito.pk_id }}</td>
        <td>{{ inscrito.telefono }}</td>
        <td>{{ inscrito.correo }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endfor %}
{% endblock %}
