{% extends 'base.html' %}
{% block title %} Inscritos de evento {{ evento.nombre }} {% endblock %}
{% block content %}
<script src="/static/scripts/printID.js" defer></script>
<h1>Inscritos de evento "{{ evento.nombre }}"</h1>
<h4>Número preinscritos: {{ num_inscritos }}</h4>
{% for paquete in evento.st_paquetes|sort(attribute='nombre') %}
    <h2>Paquete {{ paquete.nombre }}</h2>
    <p><b>Número inscritos:</b> {{ paquete.st_inscritos.count() }}</p>
    <table class="striped">
    <thead>
        <tr>
            <th>Nombre de inscrito</th>
            <th>Documento de identidad</th>
            <th>Teléfono</th>
            <th>Correo electrónico</th>
        </tr>
    </thead>
    <tbody>
    {% for inscrito in paquete.st_inscritos|sort(attribute='nombre') %}
    <tr>
        <td>{{ inscrito.nombre }}</td>
        <td>{{ inscrito.pk_id }}</td>
        <td>{{ inscrito.telefono }}</td>
        <td>{{ inscrito.correo }}</td>
        <td><button class="button primary" onclick="$('#{{inscrito.pk_id}}').printThis()">Imprimir</button></td>
        <div id="{{inscrito.pk_id}}" class="print">
            <p><b>{{ evento.nombre }}</b><br>
            <b><em>{{ paquete.nombre }}</em></b><br>
            {{ inscrito.nombre }} - <em>{{ inscrito.pk_id }}</em></p>
            <img src="/static/qr/{{ inscrito.pk_id }}.png">
        </div>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endfor %}
{% endblock %}
