{% extends 'base.html' %}
{% block title %} Preinscritos de evento {{ evento.nombre }} {% endblock %}
{% block content %}
<h1>Preinscritos de evento "{{ evento.nombre }}"</h1>
<h3>Número preinscritos: {{ num_preinscritos }}</h3>
{% for paquete in evento.st_paquetes|sort(attribute='precio') %}
    <h2>Paquete {{ paquete.nombre }}</h2>
    <h4>Número preinscritos: {{ paquete.st_preinscritos.count() }}</h4>
    <table class="striped">
    <thead>
        <tr>
            <th>Nombre de preinscrito</th>
            <th>Documento de identidad</th>
            <th>Teléfono</th>
            <th>Correo electrónico</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for inscrito in paquete.st_preinscritos|sort(attribute='nombre') %}
    <tr>
        <td>{{ inscrito.nombre }}</td>
        <td>{{ inscrito.pk_id }}</td>
        <td>{{ inscrito.telefono }}</td>
        <td>{{ inscrito.correo }}</td>
        <td><form action="" method="post">
                <button class="button primary" name="inscribir" onclick="$('#{{inscrito.pk_id}}').printThis()"
                value="{{ inscrito.get_pk() }} {{ paquete.get_pk() }}">Inscribir</button>
        </form></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% for inscrito in paquete.st_inscritos %}
        <div id="{{inscrito.pk_id}}" class="print">
            <p><b>{{ evento.nombre }}</b><br>
            <b><em>{{ paquete.nombre }}</em></b><br>
            {{ inscrito.nombre }} - <em>{{ inscrito.pk_id }}</em></p>
            <img src="/static/qr/{{ inscrito.pk_id }}.png">
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}
