{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}
{% block content %}
<h1>Últimos eventos</h1>
<hr>
{% for evento in eventos %}
<div class="row">
<div class="col-4 is-center">
    <img style="height: 10em"
        src="{{ url_for('static', filename='img/' ~ evento.get_pk() ~ '.png') }}"
        alt="{{ evento.nombre }}">
</div>
<div class="col">
    <h2>{{ evento.nombre }}</h2>
    {% if evento.fecha_inicio != None %}
        <p><b>Inicio:</b> {{ render_date(evento.fecha_inicio) }}<br><b>Fin:</b> {{ render_date(evento.fecha_fin) }}</p>
    {% endif %}
    <a href="/{{ evento.get_pk() }}" class="button outline">Ver más</a>
</div>
</div>
<hr>
{% endfor %}
{% endblock %}
