{% extends 'base.html' %}
{% block title %} Caja {% endblock %}
{% block content %}
<h1>Caja por evento</h1>
<table class="striped">
<thead>
<tr>
  <th>Nombre de evento</th>
  <th>Fecha de inicio</th>
  <th>Fecha de fin</th>
  <th>Saldo de caja</th>
  <th></th>
</tr>
</thead>
<tbody>
{% for evento in eventos %}
<tr>
  <td>{{ evento.nombre }}</td>
  <td>{{ render_date(evento.fecha_inicio) }}</td>
  <td>{{ render_date(evento.fecha_fin) }}</td>
  <td>{{ render_money(evento.fk_caja.saldo) }}</td>
  <td><a class="button" href="/ingresos/{{ evento.get_pk() }}">Ver ingresos</a></td>
  <td><a class="button" href="/egresos/{{ evento.get_pk() }}">Ver egresos</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
