{% extends 'base.html' %}
{% block title %} Asistenciay materiales de evento {{ evento.nombre }} {% endblock %}
{% block content %}
<h1>Actividades de evento {{ evento.nombre }}</h1>
<table class="striped">
<thead>
    <tr>
        <th>Nombre de actividad</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for actividad in actividades %}
<tr>
    <td>{{ actividad.nombre }}</td>
    <td>{{ render_date(actividad.fecha_inicio) }}</td>
    <td>{{ render_date(actividad.fecha_fin) }}</td>
    <td><a class="button secondary" href="/colaborador/{{ evento.get_pk() }}/asistencia/{{ actividad.get_pk() }}">Asistencia</a></td>
    <td><a class="button secondary" href="/colaborador/{{ evento.get_pk() }}/materiales/{{ actividad.get_pk() }}">Materiales</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
