{% extends 'base.html' %}
{% block title %} Eventos {% endblock %}
{% block content %}
<h1>Administrar eventos</h1>
<p><a class="button primary" href="/eventos/crear">Crear evento</a></p>
<table class="striped">
<thead>
  <th>Nombre de evento</th>
  <th>Fecha de inicio</th>
  <th>Fecha de fin</th>
  <th></th>
  <th></th>
</thead>
<tbody>
{% for evento in eventos %}
<tr>
  <td>{{ evento.nombre }}</td>
  <td>{{ render_date(evento.fecha_inicio) }}</td>
  <td>{{ render_date(evento.fecha_fin) }}</td>
  <td><a class="button secondary" href="/eventos/modificar/{{ evento.get_pk() }}">Modificar</a></td>
  <td><form action="" method="post">
    <button class="button error" name="eliminar" value="{{ evento.get_pk() }}">Eliminar</button>
  </form></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
