{% extends 'base.html' %}
{% block title %} Modificar evento {{evento.nombre}} {% endblock %}
{% block content %}
<h1>Modificar evento {{evento.nombre}}</h1>
<div class="row">
<div class="col-7">
<p><a class="button" href="/eventos">Deshacer cambios</a></p>
{{ render_form(form) }}
</div>
<div class="col-5">
  <p><b>Imagen actual</b><br><em>Si no se desea modificar no subir una nueva imagen</em></p>
  <p><img src="{{ url_for('static', filename='img/' ~ evento.get_pk() ~ '.png') }}"
          alt="{{ evento.nombre }}"></p>
</div>
</div>
{% endblock %}
