{% extends 'base.html' %}
{% block title %} Crear evento {% endblock %}
{% block content %}
<h1>Crear evento</h1>
<p><a href="/eventos"><button>Deshacer cambios</button></a></p>
{% from "form_render.html" import render_field %}
<form action="{{ url }}" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ render_field(form.nombre) }}
  {{ render_field(form.fecha) }}
  {{ render_field(form.desc) }}
  {{ render_field(form.img) }}
  <br>
  <input type="submit" value="Crear evento">
</form>
{% endblock %}
