{% extends 'base.html' %}
{% block title %} Eventos {% endblock %}
{% block content %}
<h1>Administrar eventos</h1>
<a href="/eventos/crear">
      <button>Crear Evento</button>
  </a>
<table>
{% for evento in eventos %}
<tr>
  <td>{{ evento.nombre }}</td>
  <td>{{ evento.fecha }}</td>
  <td><a href="/eventos/modificar/{{evento.id}}">
      <button>Modificar</button>
  </a></td>
  <td>
<form action="/eventos" method="post">
  <button name="eliminar" value="{{evento.id}}">Eliminar</button>
</form>
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
