{% extends 'base.html' %}
{% block title %} Eventos {% endblock %}
{% block content %}
<h1>Administrar inscritos por evento</h1>
<hr>
{% for evento in eventos %}
<div class=row>
  <div class="col">
    <p>{{ evento.nombre }}</p>
  </div>
  <div class="col is-center">
    <a class="button secondary" href="/preinscritos/{{ evento.get_pk() }}">Preinscritos</a>
  </div>
  <div class="col is-center">
    <a class="button secondary" href="/inscritos/{{ evento.get_pk() }}">Inscritos</a>
  </div>
</div>
<hr>
{% endfor %}
{% endblock %}
