{% extends 'base.html' %}
{% block title %} Crear evento {% endblock %}
{% block content %}
<h1>Modificar evento</h1>
<form action="{{ url }}" method="post" enctype="multipart/form-data">
  <label for="nombre">Nombre:</label><br>
  <input type="text" id="nombre" name="nombre" value="{{ evento.nombre }}" required><br>
  <label for="fecha">Fecha:</label><br>
  <input type="date" id="fecha" name="fecha" value="{{ evento.fecha }}" required><br>
  <label for="desc">Descripción:</label><br>
  <textarea id="desc" name="desc" required>{{ evento.descripcion }}</textarea><br>
  <label for="img">Imagen de presentación (dejar vacio si no se quiere cambiar la imagen):</label><br>
  <input type="file" id="img" name="img"><br><br>
  <input type="submit" name="submit" value="Crear evento">
</form>
{% endblock %}
