{% extends 'base.html' %}
{% block title %} Modificar evento {% endblock %}
{% block content %}
<h1>Modificar evento "{{evento.nombre}}"</h1>
<p><a href="/eventos"><button>Deshacer cambios</button></a></p>
{% from "form_render.html" import render_field %}
<form action="{{ url }}" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ render_field(form.nombre) }}
  {{ render_field(form.fecha) }}
  {{ render_field(form.desc) }}
  {{ render_field(form.img) }}
  <br>
  <input type="submit" value="Modificar evento">
</form>
<p>Imagen actual: (si no se desea modificar no subir una nueva imagen)</p>
<center>
<img src="{{ url_for('static', filename=evento.id ~ '.png') }}"
  alt="{{ evento.nombre }}">
</center>
{% endblock %}
