{% extends 'base.html' %}
{% block title %} Modificar actividad {{ actividad.nombre }} {% endblock %}
{% block content %}
<script>
$( function() {
    var availableTags = [
        {% for ambiente in ambientes %}
            "{{ ambiente.nombre }}",
        {% endfor %}
    ];
    $( "#ambiente" ).autocomplete({
      source: availableTags
    });
} );
</script>
<h1>Modificar actividad {{ actividad.nombre }}</h1>
<p><a href="/actividades/{{ evento.get_pk() }}"><button>Deshacer cambios</button></a></p>
{{ render_form(form) }}
{% endblock %}
