{% extends 'base.html' %}
{% block title %} Comisiones {% endblock %}
{% block content %}
<h1>Comisiones por evento</h1>
<table class="striped">
<thead>
    <tr>
        <th>Nombre de evento</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for evento in eventos %}
<tr>
    <td>{{ evento.nombre }}</td>
    <td>{{ render_date(evento.fecha_inicio) }}</td>
    <td>{{ render_date(evento.fecha_fin) }}</td>
    <td><a class="button" href="/comisiones/{{ evento.get_pk() }}">Administrar comisiones</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
