{% extends 'base.html' %}
{% block title %} Participantes de actividad {{ actividad.nombre }} {% endblock %}
{% block content %}
<h1>Participantes de actividad {{ actividad.nombre }} </h1>
<p><a class="button primary" href="/actividades/{{ evento.pk_id }}/participantes/{{ actividad.pk_id }}/crear">Añadir participante</a></p>
<table class="striped">
<thead>
    <tr>
        <th>Nombre de participante</th>
        <th>Correo electrónico</th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for participante in participantes %}
<tr>
    <td>{{ participante.nombre }}</td>
    <td>{{ participante.correo }}</td>
    <td><form action="" method="post">
        <button class="button error" name="eliminar" value="{{ participante.pk_id }}">Eliminar</button>
    </form></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
